/* ================================================================
    Home
=================================================================== */

.home {

    .section-header {
        background: url('../img/bg_home.jpg');
        background-size: cover;

        @include bp-l {
            padding: 8em 0;
        }

        h1 {
            margin: 0 0 .5em;

            span {
                display: block;
                margin: 0 0 1em;
                @include font-size(1.25, 1.8);
            }
        }

        p {
            font-style: italic;
            color: #fff;
        }
    }

    .block {
        padding: 2em 0;

        .container { @include row; }

        h1, h2, h3 {
            font-weight: 400;
        }
    }

    .about {

        .about-info {
            @include col(1, 2);
        }

        .video {
            @include col(1, 2);
            text-align: right;
        }
    }

    .six-domains {
        background: #f8f8f8;

        .subsection-header {
            @include col(1,1);
            text-align: center;
        }

        .info-block {
            @include col(1,2);

            h3 {
                color: $blue;
            }
        }
    }

    .testimonials {
        text-align: center;
        
        h2 {
            @include font-size(2, 2.5);
        }
        
        .flexslider {
            max-width: 900px;
            margin: 36px auto;
        }
        
        .slides {
            @include font-size(1, 1.4);
        }
        
        .flex-direction-nav {
            
            a {
                border-radius: 50%;
                border: 3px solid #4ec9b5;
                text-align: center;
                
                &:before {
                    position: relative;
                    top: 5px;
                    font-size: 22px;
                }
            }
            
            .flex-prev {
                left: 5px;
                opacity: 0.8;
                
                &:before {
                    content: "\f053";
                    font-family: FontAwesome,sans-serif;
                    color: #4ec9b5;
                    right: 1px;
                }    
            }
            
            .flex-next {
                right: 5px;
                opacity: 0.8;
                
                &:before {
                    content: "\f054";
                    font-family: FontAwesome,sans-serif;
                    color: #4ec9b5;
                    left: 2px;
                }
            }
        }
    }
}
