/* ================================================================
    Single Product
=================================================================== */

.single-product {

    /* Layout ---------------------------------- */

    .product {
        @include row;
    }

    .images {
        @include col(1, 2);
    }

    .summary {
        @include col(1, 2);

        h1 {
            margin-top: 0;
        }
    }

    .primary {
        margin-top: 2em;
    }

    .cart {

        input {
            margin: 1em 0;
            padding: .8em;
        }

        button.button.alt {
            @extend .button;
            border: none;
        }
    }

    /* Tabs --------------------------------- */

    .woocommerce-tabs {
        @include col(1, 1);

        .tabs {
            margin: 1em 0 0;
            padding: 0;
            list-style-type: none;
            border-bottom: 1px solid #ddd;

            li {
                display: inline-block;
                border: 1px solid #ddd;
                border-bottom: none;
                margin: 0 0 -1px 0;
            }

            a {
                display: block;
                padding: .5em 1em;
                background: #fff;
            }
        }
    }

    /* Components --------------------------- */

    .cart {

        .quantity {
            display: inline-block;
        }
    }

    .product_title {
        font-weight: 400;
        color: #444;
    }

    .cart {

        input {
            margin: 1em 0;
            padding: .8em;
        }

        button.button.alt {
            @extend .button;
        }
    }

    .sku_wrapper {
        display: block;
    }
    
    .related {
        
        a.button {
            font-size: 16px;
        }
    }
}
