/*

    SITEWIDE ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
    }

li {
    > ul,
    > ol {
         margin-bottom:0;
         }
    }

img,
a img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    min-height: auto;
    vertical-align: middle;
    }

button, .button, .page .woocommerce a.button {
    margin: 1em 0;
    padding: 1em 2em;
    @include linear-gradient(to right, #01acd0, #54e0ce);
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
}

p {
    margin: 0 0 1em;
}

a:focus {
    outline: none;
}

.screen-reader-text {
    display: block;
    visibility: hidden;
    height: 0;
}

form[role="search"] {
    position: relative;

    input[type="search"] {
        width: 100%;
        padding: .5em;
        box-sizing: border-box;
    }

    input[type="submit"] {
        position: absolute;
        top: 7px;
        right: 12px;
        border: none;
        opacity: 0;
    }

    &:before {
        content: "\f002";
        font-family: 'FontAwesome', sans-serif;
        position: absolute;
        top: 7px;
        right: 12px;
    }
}
