/* ================================================================
    Site Layout
=================================================================== */

.main-layout, .container {
    width: 95%;
    margin: 0 auto;

    @include bp-xl {
        width: 1000px;
    }
}

.primary {
    @extend %clearfix;
    padding: 1em 0;

    .content {

        @include bp-l {
            float: right;
            width: 75%;
            padding: 0 2em;
        }
    }

    .secondary-content {

        @include bp-l {
            float: left;
            width: 25%;
        }
    }
}
