/* ================================================================
    Woocommerce General Styles
=================================================================== */

.woocommerce {

    /* Layout -------------------------- */
    .content {

        @include bp-l {
            float: left;
            padding: 0 3em 0 0;
        }
    }

    .secondary-content {

        @include bp-l {
            float: right;
        }
    }

    ul.products {
        @include row;

        li {
            @include col(1, 3);
        }
    }

    /* Woo Styles ----------------------- */

    .woocommerce-message {
        border-top-color: #1bae78;

        &:before {
            color: #1bae78;
        }
    }

    .primary {
        margin-top: 2em;
    }

    .product_title, .products h3 {
        font-weight: 400;
        color: #444;
    }

    .cart {

        input {
            margin: 1em 0;
            padding: .8em;
        }

        button.button.alt {
            @extend .button;
            border: none;
        }
    }

    .price {
        display: block;
        color: $blue;
        @include font-size(1.2);
    }

    .sku_wrapper {
        display: block;
    }

    li.product {
        text-align: center;
    }
}

/* Woocommerce overrides ---------------------------------- */

.woocommerce-breadcrumb {
    display: none;
}
